{% extends 'budgeter/budgeter_base.html' %}
{% block main %}
    <a class="custom-card" href="{% url 'user_update' user.id %}">
        <div class="card my-2">
            <div class="card-body">
                <h1 class="card-title"> {{ user.username| title }} </h1>
                <div>
                    <p>{{ user_spent_budget }} / {{ user.total_budget }}</p>
                    <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ user.get_spent_percentage }}%">
                            {{ user.get_spent_percentage }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>

    <div class="card-deck">
    {%for budget in user.budget_set.all %}
        <a class="custom-card" href={% url 'budget' budget.id %}>
            <div class="card" style="border-color: {{ budget.budget_color }}">
                <div class="card-body">
                    <h3 class="card-title">{{ budget.budget_name| title }}</h3>
                    <p>{{ budget.get_spent_budget }} / {{ budget.allowed_spending }}</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{ budget.get_spent_percentage }}%">
                            {{ budget.get_spent_percentage }}%
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endblock main %}