{% extends 'budgeter/budgeter_base.html' %}
{% block main %}
     <div class="card my-2">
        <div class="card-body">
            <h1 class="card-title"> Despesas </h1>
                <table class="table">
                    {%for transaction in transaction_history %}
                        <tr>
                            <th> {{ transaction.title| title }}</th>
                            <th> {{ transaction.value }}</th>
                            <th>
                                <a class="btn btn-outline-success btn-sm" href="#"/> Editar</a>
                                <a class="btn btn-outline-danger btn-sm" href="{% url 'delete_transaction' transaction.id %}"/> Excluir</a>
                            </th>
                        </tr>
                    {% endfor %}
                </table>
        </div>
     </div>
{% endblock main %}