{% extends 'budgeter/budgeter_base_form.html' %}
{% load crispy_forms_tags %}
{% block form %}
    <form method="post" action="{% url 'user_update' user.id%}">
         {% csrf_token %}
         <fieldset class="form-group">
             <legend class="border-bottom mb-4">Configurações do Usuario</legend>
             {{ form|crispy }}
         </fieldset>
         <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Confirmar</button>
     </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="{% url 'home' %}">Voltar!</a>
        </small>
    </div>
{% endblock form %}